.about-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-image: url("../img/BACKGROUND3.jpg");
    background-position: 10%;
  /* background-color: rgb(10, 6, 32);*/
    background-size: cover;
    color: white;
    /*height: 760px;*/
    height: 110vh;
    font-family: 'Agency FB', arial;
    font-size: 2rem;
}



#about_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#text_container {
    margin-top: 8rem;
    width: 40rem;
 /*top: -9rem;*/

}



#ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    font-size: 1.5rem;
    margin: 3rem;
}


#ul li{
   margin-right: 2.5rem;
}

@media only screen and (max-width: 420px) {
    .about-container {
        height: 80rem;
    }
    #text_container {
        margin-top: 15rem;
        width: 15rem;
        font-size: 1.6rem;
    }
}