.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/BACKGROUND3.jpg");
  /* background-color: rgb(10, 6, 32);*/
    background-size: cover;
    color: white;
    /*height: 760px;*/
    height: 100vh;
    font-family: 'Agency FB', arial;
    font-size: 2rem;
}

#card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 300px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(3.4px);
-webkit-backdrop-filter: blur(3.4px);

}


#about_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#text_container {
    width: 40rem;
 position: relative;
 /*top: -9rem;*/

}


#ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    font-size: 1.5rem;
}


#ul li{
   margin-right: 2.5rem;
}