.home-container {
    display: flex;
    background-image: url("../img/BACKGROUND.jpg");
    background-size: cover;
    color: white;
    /*height: 800px;*/
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;

}

#div_navbar {
    position: relative;

}

#container-content {
    position: relative;
   /* top: 12vh;*/
    display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 font-family: 'Agency FB Bold', arial;
 padding-left: 20px;
 
}

#texto-landing {
    width: 33rem;
    font-family: 'Agency FB', arial;
    font-weight: 600;
}

#my-name {
    font-size:2rem;
    color: #ff01be;
  
}
#ivo-rojas {
    font-size: 8rem;
 
}

#introduction {
    font-size: 1.5rem;
    font-family: 'Agency FB', arial;

}

#logo {
    position: relative;
    right: 4rem;
    animation: float 4s ease-in-out infinite;

}

@keyframes float {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}



@media only screen and (max-width: 850px) {

    #container-content {
   
        display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;

    }
    

    #texto-landing {
        padding: 2rem;
        font-family: 'Agency FB', arial;
        font-weight: 600;
    }

    #my-name {
        font-size:2.9rem;
        color: #ff01be;
    }
    #ivo-rojas {
        font-size: 6.3rem;

    }

    #introduction {
        display: flex;
        justify-content: center;
        width: 15rem;
        font-size: 1.7rem;
        font-family: 'Agency FB', arial;
    }

}

@media only screen and (max-width: 400px) {
    #container-content {
        margin-top: 30rem;
        display: flex;
     flex-direction: column;
     align-items: flex-start;
justify-content: center;
        font-family: 'Agency FB Bold', arial;
        
    }
    #texto-landing {
        padding-left: 4.4rem;
        width: 10rem;
        font-family: 'Agency FB', arial;
        font-weight: 600;
    }
  
    #my-name {
        font-size:2.2rem;
        color: #ff01be;
    }
    #ivo-rojas {
        font-size: 5.2rem;

    }

    #introduction {
        display: flex;
        justify-content: center;
        width: 15rem;
        font-size: 1.7rem;
        font-family: 'Agency FB', arial;
    }

    #logo {
        position: relative;
        left: 4.4rem;
     
    
    }
}